<div class="row">
  <div class="col-12 col-md-8">
    <div class="mb-5 p-5 info-content">
      <div>
        <h1 class="py-2 text-center text-white">Are you ready for a once in a lifetime experience?</h1>
      </div>
      <div>
        <p>
          For those eager to improve..
        </p>
        <p>
          And for those wanting to spend some great time
          in some of the best ski areas on the planet!
        </p>
      </div>

      <div>
        <p>
          <img align="left" class="course-img image-left course-img-sm grow ml-2"
               src="http://localhost:8000/courses/coursesInfo/vankata-boss.jpg" alt="vankata">
          My name is Ivan Pashkulev aka Vankata. I am a Web Developer, DJ, Paragliding pilot
          but what matters the most here is that I am also an ISIA ski instructor and my ski courses will
          take you to another level of skiing and having fun:))
        </p>
      </div>

      <div>
        <p>
          You will delve into a friendly party atmosphere and intense ski training.
          There will be apreski dj parties with me being your DJ. Yeah that's right...
          and it's going to be awesome!
        </p>
        <div class="m-3">
          <img class="course-img grow" width="100%"
               src="http://localhost:8000/courses/coursesInfo/vankata-dj.jpg">
        </div>
      </div>


      <p>
        If you are looking for another relaxing holiday, well this opportunity would not be for you!
      </p>
      <p>
        With this courses you will be pushed to your limits to become a really technical skier
        with knowledge and skills.
      </p>
      <p>
        There is a great chance that you'll be turned into a party animal as a side effect:))
        Life is short so fasten your seat-belts and get ready to rock steady!
        <img align="right" class="course-img course-img-sm image-right grow" width="100%"
             src="http://localhost:8000/courses/coursesInfo/party.jpg">
      </p>

      <p>
        During these courses you will have everyday meetings aiming to give you personal feedback and
        load your brain with some theory. Detailed video analyzes will be provided for each participant!
      </p>

      <p>
        And here is the most interesting part! What makes these courses stand out and be different and better?
        The most important part of a ski training are the current snow conditions.
        If you want to train your alpine skiing, you will need well groomed slopes!
        If you want to learn powder skiing, well you will definitely need some powder:))
        If you want to practise freestyle skiing, than a good snow park with a variety
        of equipments with different difficulty level would be appropriate.
      </p>

      <p>
        So if you book your holiday for a concrete resort a few months in advance, than how can you be sure that
        the conditions will meet your needs and expectations?

        The answer is - you can't!
      </p>

      <p>
        Have you been on a ski holiday with foggy and cloudy conditions, strong winds
        and the sun is gone for the entire week?
        Or maybe you wanted to free-ride but there was not enough snow.
        A really nice planned and long awaited holiday can easily turn into a disappointment.
        Skiing is all about having fun and expressing yourself and to my opinion the best
        you can do is trying to be at the right place in the right time:))
      </p>

      <p>So what's the solution?</p>

      <p>
        Don't compromise the ski holiday you've been waiting for and book a course without knowing
        the destination. Whaaat...???? It will be chosen based on current conditions
        and short term weather forecast just a few days before the course starting date. Sounds weird?
        Yes it is! It is adventurous, spontaneous but you know what... it gives you an extra thrill
        because of the unknown! Let me remind you. Your goal with these courses is not to
        visit a particular resort, but to become a better skier right?
        <img align="left" class="course-img course-img-sm image-left grow"
             src="http://localhost:8000/courses/coursesInfo/vankata-skiing-1.jpg"
             alt="vankata skiing">
        Your instructor will pick the perfect spot with the best
        possible conditions matching the requirements for the course objectives.
        Now you are already thinking.....oooh this is totally crazy, how can I book my low-cost flight,
        hotel reservations etc. Well you don't do that. You should book a last minute flight
        and I will take care about the rest. It will probably be more expensive mostly because
        of the last minute flight ticket but what you get as a result is unforgettable experience that
        will open entirely new horizons for you! You have my word!
      </p>

      <p>
        So finally, let's discuss what is the target audience for these courses?
        Well these courses are not for beginners. Why? Because literally any ski instructor
        can teach you how to snow plough and there is nothing special about that.
        Any resort would be OK for a beginners course and the snow conditions won't matter that much.
      </p>

      <p>
        Let's say it, this courses are not for the average skiers.
        It's for those of you who can't wait for the winter to come.
      </p>

      <div class="m-3 text-center">
        <img class="course-img grow" width="50%"
             src="http://localhost:8000/courses/coursesInfo/vankata-skiing-2.jpg">
      </div>

      <p>
        It's for passionate intermediate to advanced skiers
        who really want to go further. This means improved technical skills and increased knowledge.
        For those of you - Black slopes are nothing special, you feel confident at any slope.
        So there is an interesting question here. If you are looking for such a level of skiing
        why not go to a dedicated ski instructor course? If you want to become a ski instructor
        I encourage you to do that. Still you can benefit a lot from these courses because they
        will provide you with a solid foundation. On the other hand ski instructor courses
        involve much more theory and pedagogy. In our courses the main focus is on your personal
        technical training driving you to perfection and refinement.
      </p>

      <div class="m-3">
        <img class="course-img grow" width="100%"
             src="http://localhost:8000/courses/coursesInfo/courses-group.jpg">
      </div>

      <p>
        So what are you waiting for? Have a look at the available courses and pick the one
        matching your demands. The fun and excitement are guaranteed!
        Hope to see you soon around the mountains of our beautiful planet Earth!
      </p>

    </div>
  </div>

  <div *ngIf="lastThreeCourses" class="col-12 col-md-4 courses-side-nav">
    <div id="last-added-courses-heading">Upcoming Courses</div>
    <div class="advert grow" *ngFor="let course of lastThreeCourses | async">
      <div class="row">
        <a routerLink="/courses/{{course.id}}/details">
          <div class="col-12">
            <img class="advert-img" src="http://localhost:8000/courses/{{course.image}}" alt="">
          </div>
        </a>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="advert-data">
            Level: {{course.level}}<br>
            Starts: {{course.startDate | localDate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
