<div id="about" class="row p-3">
  <h1 class="col-12 text-center my-3">
    <span class="about-header">About Wee-Ski</span>
  </h1>
  <div id="about-content" class="m-3">
    <p>
      Wee-Ski is a portal for passionate skiers who share the love for the sport.
      Here you can socialize and find like minded people, share your stories, organize gatherings,
      seminars and events about skiing
      or if you want to improve your skills, you may join one of Vankata's
      courses for intermediate and advanced skiers. And since Vankata is the man behind all of this,
      you can be sure that there will be lots of apreski parties, good music and fun!
    </p>
    <p>
      And in case you are wondering how this portal came up?
      Well, in the summer of 2018 while everybody was enjoying their summer holidays,
      Vankata was enrolled in Angular course which is part of the JS WEB module in Softuni
      and what you see is the resulting final project of this course. Nice aaah:))
    </p>
  </div>
</div>

