<div id="admin-menu" class="row p-3">
  <div class="px-2 col-12 menu-container">
    <div class="row admin-menu-item" routerLinkActive="active">
      <button routerLink="/admin/users" mat-stroked-button class="col-12">Users</button>
    </div>
    <div class="row admin-menu-item" routerLinkActive="active">
      <button routerLink="/admin/courses" mat-stroked-button class="col-12">Courses</button>
    </div>
    <div class="row admin-menu-item" routerLinkActive="active">
      <button routerLink="/admin/gatherings" mat-stroked-button class="col-12">Gatherings</button>
    </div>
    <div class="row admin-menu-item" routerLinkActive="active">
      <button routerLink="/admin/resorts" mat-stroked-button class="col-12">Resorts</button>
    </div>
    <div class="row admin-menu-item" routerLinkActive="active">
      <button routerLink="/admin/logs" mat-stroked-button class="col-12">Logs</button>
    </div>
  </div>
</div>
