#unauthorizedContainer {
  background-color: #e3e3e3;
  padding-top: 50px;
}

#unauthorized {
  background: url("../../../../../assets/images/unauthorized.jpg") round;
  height: 400px;
  text-align: center;
  padding: 20px 0 20px 0;
  border: 1px solid #a00000;
  border-radius: 15px;
  margin-bottom: 50px;
}

.unauthorized-box {
  margin: 100px 0 0 50px;
  border: 1px solid #b11725;
  border-radius: 15px;
  background-color: rgba(7, 64, 98, 0.7);
  color: #b9d2fa;
}
