

#admin-heading {
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(98, 245, 119, 0.8);
  color: white;
  padding: 5px 50px 5px 50px;
}

#admin-heading:hover {
  background-color: rgba(7, 44, 80, 0.7);
}
.admin-content {
  margin-top: 21px;
}


