<div>
  <div id="admin-heading" class="row">
    <div class="col-12 col-lg-3">
      <h3>Server Logs</h3>
      <app-results-per-page-selector (selectedSize)="onSizeChanged($event)" [size]="size"></app-results-per-page-selector>
      <button class="toggle-btn" (click)="toggleOrdering()" mat-stroked-button>
        {{ascending ? "View Descending" : "View Ascending"}}
      </button>
    </div>
    <div *ngIf="page && page.totalPages > 1" class="col-12 col-lg-9 text-right">
      <div>
        <span *ngIf="prevPage" class="mr-1">
          <button mat-stroked-button (click)="loadPreviousPage()">Previous</button>
        </span>
        <span *ngFor="let i of pageNumbers">
          <button class="page-number-link btn"
                  [class.active]="i == page.number"
                  (click)="loadPageByIndex(i)">{{i + 1}}
          </button>
        </span>
        <span *ngIf="nextPage" class="ml-1">
          <button mat-stroked-button (click)="loadNextPage()">Next</button>
        </span>
      </div>
      <div *ngIf="page" class="mb-2">
        <span class="mr-2 text-dark">Total Pages: {{page.totalPages}}</span>
        <button class="page-btn" (click)="loadPageByIndex(0)">First Page</button>
        <button class="page-btn" (click)="loadPageByIndex(page.totalPages - 1)">Last Page</button>
        <button class="page-btn" *ngIf="hasPreviousTenResults()" (click)="loadPreviousTenResults()">Prev 10</button>
        <button class="page-btn" *ngIf="hasNextTenResults()" (click)="loadNextTenResults()">Next 10</button>
      </div>
    </div>
  </div>

  <div class="row admin-table">
    <table *ngIf="logs" class="table table-hover ml-2">
      <thead>
      <tr>
        <th>Id</th>
        <th>Req Method</th>
        <th>Res Status</th>
        <th>Uri</th>
        <th>Identity</th>
        <th>Timestamp</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let log of logs">
        <td>{{log.id}}</td>
        <td>{{log.requestMethod}}</td>
        <td>{{log.statusCode}}</td>
        <td>{{log.uri}}</td>
        <td>{{log.identity}}</td>
        <td>{{log.timestamp | localDateTime}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

