<div class="details-container" *ngIf="course | async as course">
  <div class="row">
    <div class="offset-0 offset-md-2 col-12 col-md-8">
      <img src="http://localhost:8000/courses/{{course.image}}" alt="">
    </div>
  </div>
  <div class="row">
    <div class="offset-0 offset-md-2 col-12 col-md-8 details-content">
      <div>
        <h2 class="my-2 text-center">{{course.title}}</h2>
      </div>
      <div class="enum">Level: {{course.level}}</div>
      <div class="enum">Discipline: {{course.discipline | discipline}}</div>
      <div class="description">
        <h4>Description:</h4>
        <hr class="border-light">
        <div>{{course.description}}</div>
      </div>
      <div class="row dates">
        <div class="col">Start Date:</div>
        <div class="col">{{course.startDate | localDate}}</div>
      </div>
      <div class="row dates">
        <div class="col">End Date:</div>
        <div class="col">{{course.endDate | localDate}}</div>
      </div>

      <div class="text-right mt-5">
        <span class="price">Price: {{course.price}}&euro;</span>
      </div>
      <div *ngIf="authenticationService.isAuthenticated()" class="row">
        <button class="col-12 enroll-btn" mat-stroked-button>Enroll</button>
      </div>
      <div class="anonymous" *ngIf="!authenticationService.isAuthenticated()">
        In order to enroll in a course you need to <a routerLink="/login">login</a>
        or if you don't have an account quickly <a routerLink="/register">register</a>
        and join our ski society!
      </div>
    </div>
  </div>
</div>
