.login-page {
  background: url("../../../assets/inages/login-background.jpg") round;
  background-size: cover;
  height: auto;
}

.login-header {
  text-align: center;
  border: 1px solid #394c69;
  background-color: rgba(30, 213, 30, 0.5);
  /*color: #dcdcdc;*/
  padding: 10px 0 10px 0;
  border-radius: 15px;
}

.login-header:hover {
  background-color: rgba(30, 213, 30, 0.6);
}

form {
  background-color: rgba(255,255,255,0.7);
}

.custom-btn {
  margin: 10px 5px 0 5px;
  padding: 5px 30px 5px 30px;
  border-radius: 10px;
  font-size: 1.3em;
  color: #394c69;
}

#login-btn {
  border: 1px solid green;
}

#register-btn {
  border: 1px solid #394c69;
}

#login-btn:hover {
  background-color: rgba(55, 194, 18, 0.5);
  color: white;
}

#register-btn:hover {
  background-color: rgba(93, 116, 213, 0.5);
  color: white;
}

#passwordVisibilityIcon:hover {
  cursor: pointer;
}

/** {*/
  /*border: 1px solid black;*/
/*}*/
