<div id="navigation" class="row">

  <nav id="menu" class="navbar navbar-expand-lg navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/">Wee-Ski</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gatherings">Gatherings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resorts">Resorts</a>
        </li>
        <li *ngIf="authService.hasRole('ROLE_ADMIN')" class="nav-item">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li *ngIf="!authService.isAuthenticated()" class="nav-item m-2 mb-1">
          <button mat-stroked-button class="login-btn" routerLink="/login">Login</button>
        </li>
        <li *ngIf="!authService.isAuthenticated()" class="nav-item m-2 mr-3">
          <button mat-stroked-button class="register-btn" routerLink="/register">Register</button>
        </li>
        <li *ngIf="authService.isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
            <span>Welcome {{username}}!</span>
            <img *ngIf="image" class="profile-picture" [src]="image" alt="{{username}}"/>
            <span>
              <i *ngIf="!image" class="material-icons">person</i>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" routerLink="/profile">Your Profile</a>
            <a class="dropdown-item" routerLink="/settings">Settings</a>
            <a class="dropdown-item" routerLink="/logout" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

</div>

