#navigation {
  background: url("../../assets/images/nav-background.jpg") round;
  background-size: cover;
  height: auto;
}

#menu {
  padding: 0 0 0 15px;
  display: flex;
  width: 100%;
  margin-top: 120px;
  background-color: rgba(7, 44, 80, 0.8);
}

.example-icon {
  padding: 0 14px;
  cursor: pointer;
}

.login-btn {
  border: 1px solid #47bb40;
  background-color: rgba(126, 255, 115, 0.7);
  color: white;
}

.register-btn {
  border: 1px solid #4e48ff;
  background-color: rgba(7, 124, 201, 0.7);
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.profile-picture {
  margin-left: 20px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

img {
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}

img:hover {
  opacity: 0.8;
}

/** {*/
  /*border: 1px solid black;*/
/*}*/

.menu-item {
  margin: 5px;
}

.menu-item:hover {
  background-color: rgba(64, 62, 230, 0.6);
}

.dropdown-menu {
  margin-top: -2px;
  background-color: rgba(7, 76, 130, 0.8);
}

.dropdown-item {
  color: #d9d9d9;
}

.dropdown-item:hover {
  background-color: rgba(7, 44, 80, 0.7);
  color: white;
}

span > i {
  vertical-align: middle;
  margin: 5px 10px 5px 10px;
}
